@media screen {

    .js-custom-checkbox,
    .js-custom-radio {

        input {
            display: none;
        }

        label {
            position: relative;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-bottom: 5px;
            border: 1px solid #aaa;
            vertical-align: top;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                -webkit-transform: scale(3);
                transform: scale(3);
                transition: 0.2s;
                opacity: 0;
            }
        }

        input:checked ~ label:after {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    .js-custom-checkbox {

        label:after {
            content: '\2713';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            line-height: 15px;
            color: #777;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }
    }

    .js-custom-radio {

        label {
            border-radius: 50%;

            &:after {
                left: 4px;
                top: 4px;
                right: 4px;
                bottom: 4px;
                display: block;
                background: #777;
                border-radius: 50%;
            }
        }
    }

    .js-custom-select {
        position: relative;
        display: inline-block;

        .js-label {
            position: relative;
            display: inline-block;
            min-width: 100px;
            height: 30px;
            line-height: 30px;
            padding: 0 30px 0 10px;
            border: 1px solid #aaa;

            &:after {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                display: block;
                margin-top: -3px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid black;
            }
        }

        select {
            position: absolute;
            z-index: 100;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            cursor: pointer;
        }
    }
}

@media print {

    .js-custom-select {

        .js-label {
            display: none;
        }
    }
}
